/* 热门推荐、相关推荐 */
uni-app .recom-layout-container,
/* 热门推荐、相关推荐 */
uni-app #pbRecomContainer,
/* 猜你还想搜（标题） */
uni-app .guess-title,
/* 猜你还想搜 */
uni-app .guess-container,
/* 底部工具栏 来贴吧畅享精彩内容 */
uni-app .operation-chat,
/* 图片右滑最后一个 来贴吧畅享精彩内容 */
uni-app .pic-popup-guide-title,
/* 图片右滑最后一个 下面的按钮 打开APP */
uni-app .operate-group .wake-app:has(.external-btn-class),
/* 顶部右上角的 App内查看 */
uni-app .operate-btn-wake {
	display: none !important;
}

/* 评论内容高度 */
uni-app .swiper-content {
	max-height: unset !important;
}

/* 调整顶部navbar的样式 */
uni-app .nav-bar-fixed {
	padding: 20px 0px !important;
}
