.pops[type-value="confirm"] .pops-confirm-content {
  overflow: hidden;
}
.netdisk-match-paste-text {
  --textarea-bd-color: #dcdfe6;
  display: inline-block;
  resize: vertical;
  padding: 5px 15px;
  line-height: normal;
  box-sizing: border-box;
  color: #606266;
  border: 1px solid var(--textarea-bd-color);
  border-radius: 4px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  width: 100%;
  height: 100%;
  appearance: none;
  resize: none;
}
.netdisk-match-paste-text:hover {
  --textarea-bd-color: #c0c4cc;
}
.netdisk-match-paste-text:focus {
  --textarea-bd-color: #3677f0;
}
