.pops-folder-list .list-name-text {
  max-width: 300px;
}
.netdisk-static-link-onefile .pops-folder-list .list-name-text {
  max-width: 220px;
}
.netdisk-static-link-onefile .pops-mobile-folder-content .pops-folder-list .list-name-text {
  max-width: unset;
}
