.download-app-guidance,
.call-app-btn,
.collapse-tips,
.note-graceful-button,
.app-open,
.header-wrap,
.recommend-wrap.recommend-ad,
.call-app-Ad-bottom,
#recommended-notes p.top-title span.more,
#homepage .modal,
button.index_call-app-btn,
span.note__flow__download,
.download-guide,
#footer,
.comment-open-app-btn-wrap,
.nav.navbar-nav + div,
.self-flow-ad,
#free-reward-panel,
div[id*='AdFive'],
#index-aside-download-qrbox,
.baidu-app-download-2eIkf_1,
/* 底部的"小礼物走一走，来简书关注我"、赞赏支持和更多精彩内容，就在简书APP */
div[role="main"] > div > section:first-child > div:nth-last-child(2),
/* 它的内部是script标签，可能影响部分评论之间的高度问题 */
div.adad_container ,
/* 顶部导航栏的【下载App】 */
#__next nav a[href*="navbar-app"] {
  display: none !important;
}
body.reader-day-mode.normal-size {
  overflow: auto !important;
}
.collapse-free-content {
  height: auto !important;
}
.copyright {
  color: #000 !important;
}
#note-show .content .show-content-free .collapse-free-content:after {
  background-image: none !important;
}
footer > div > div {
  justify-content: center;
}
/* 修复底部最后编辑于：。。。在某些套壳浏览器上的错位问题 */
#note-show .content .show-content-free .note-meta-time {
  margin-top: 0px !important;
}
