/* 隐藏 添加： */
label[for="discussion_comments_attributes_0_attachments"],
label[for="comment_attachments"] {
  display: none;
}
input[type="file"] {
  width: 100%;
  font-size: 20px;
  background-color: #e2e2e2;
  padding: 40px 0px;
  border-radius: 10px;
  text-align-last: center;
}

@media (prefers-color-scheme: dark) {
  input[type="file"] {
    background-color: transparent;
    border: 1px solid #e2e2e2;
  }
}
