#main-header {
  background-color: #670000 !important;
  background-image: linear-gradient(#670000, #990000) !important;
}
#site-nav-vue {
  flex-wrap: wrap;
  justify-content: flex-end;
}
.open-sidebar {
  border-width: 1px;
  border-radius: 3px;
  margin-right: 0;
}
input.search-submit {
  transform: translateY(-5%) !important;
  margin-left: 10px;
}
#script-content code {
  word-wrap: break-word;
}
.code-container ::selection {
  background-color: #3d4556 !important;
}
