html,
body {
    width: 100%;
    height: 100%;
}
.user-info-tabs>.el-tabs__header {
  margin: 0 0 5px;
}

.pops-ip-location-help {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  color: #7558FE;
}

span[data-sex="1"] {
  color: #37B8D5;
}

span[data-sex="2"] {
  color: #FF8787;
}