div[class^="netdisk-custom-rule-"] {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
}
div[class^="netdisk-custom-rule-"] svg,
div[class^="netdisk-custom-rule-"] svg {
	width: 1.2em;
	height: 1.2em;
}
/* 控件被禁用的颜色 */
aside.pops-panel-aside li[data-key][data-function-enable="false"] {
	color: #a8abb2;
	filter: grayscale(100%);
}
/* 左侧网盘图标 */
aside.pops-panel-aside .netdisk-aside-icon {
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/* 设置间隔 */
aside.pops-panel-aside ul li {
	gap: 4px;
}

/* mobile模式 */
@media screen and (max-width: 600px) {
	/* 隐藏左侧网盘图标 */
	aside.pops-panel-aside .netdisk-aside-text {
		display: none;
	}
}
