{
	"bracketSameLine": true,
  "bracketSpacing": true,
	"singleQuote": false,
	"useTabs": false,
  "tabWidth": 2,
	"semi": true,
	"printWidth": 120,
	"endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
  "trailingComma": "es5",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto"
}
