@charset "UTF-8";
/* 主页 */
#app .m-head {
	--bg-color: #f0f1f3;
	--bg-rever-color: #ffffff;
	--pd-width: 1.3333vmin;
	--bd-circle: 1.3333vmin;
	--card-height: 30vmin;
	--icon-font-size: 3.2vmin;
	--icon-text-font-size: 2.6vmin;
	--icon-font-margin-right: 3vmin;
	--title-font-size: 2.8vmin;
	background-color: var(--bg-color);
}
#app .m-head .m-home {
	background-color: var(--bg-color);
}
/* 美化视频卡片 */
#app .m-head .video-list .card-box .v-card {
	background-color: var(--bg-rever-color);
	padding: 0px;
	margin: 0px;
	width: calc(50% - var(--pd-width) / 2);
	border-radius: var(--bd-circle);
	margin-top: var(--pd-width);
	display: grid;
	/* 视频封面区域 */
}
#app .m-head .video-list .card-box .v-card .card {
	background: var(--bg-rever-color);
	border-radius: unset;
	border-top-left-radius: var(--bd-circle);
	border-top-right-radius: var(--bd-circle);
	height: var(--card-height);
}
#app .m-head .video-list .card-box .v-card .card .count {
	display: flex;
	justify-content: safe flex-start;
	padding-right: 0;
}
#app .m-head .video-list .card-box .v-card .card .count .iconfont {
	font-size: var(--icon-text-font-size);
}
#app .m-head .video-list .card-box .v-card .card .count > span {
	font-size: var(--icon-text-font-size);
	margin-right: var(--icon-font-margin-right);
}
/* 视频标题区域 */
#app .m-head .video-list .card-box .v-card .title {
	padding: 0;
	margin: var(--pd-width);
	font-size: var(--title-font-size);
}
/* 两列 => 左边的 */
#app .m-head .video-list .card-box .v-card:nth-child(2n-1) {
	/*background-color: red;*/
	margin-right: calc(var(--pd-width) / 2);
}
/* 两列 => 右边的 */
#app .m-head .video-list .card-box .v-card:nth-child(2n) {
	/*background-color: rebeccapurple;*/
	margin-left: calc(var(--pd-width) / 2);
}
