@charset "UTF-8";
/* ------ 全局匹配 ------ */
/* 视频标题上面的 打开App，流畅又高清 */
.m-video2-awaken-btn,
.openapp-dialog {
	display: none !important;
}

/* ------ 全局匹配 ------ */
/* 主页，顶部头 */
/* 右上角 下载App */
.m-head .launch-app-btn.m-nav-openapp,
.m-head .launch-app-btn.home-float-openapp {
	display: none !important;
}

/* 主页 */
/* 打开App，看你感兴趣的视频 */
.m-home .launch-app-btn.home-float-openapp {
	display: none !important;
}

/* 空间 */
/* 底部 打开App */
.m-space .launch-app-btn.m-space-float-openapp,
.m-space .launch-app-btn.m-nav-openapp {
	display: none !important;
}

/* 视频 */
/* 打开App，流畅又高清 */
#app
	.video
	.launch-app-btn.m-video-main-launchapp:has([class^="m-video2-awaken"]),
#app .video .launch-app-btn.m-nav-openapp,
#app .video .mplayer-widescreen-callapp,
#app .video .launch-app-btn.m-float-openapp,
#app .video .m-video-season-panel .launch-app-btn .open-app {
	display: none !important;
}

/* 直播 */
#app.LIVE .open-app-btn.bili-btn-warp {
	display: none !important;
}

/* 动态 */
/* 右上角 下载App */
#app .m-dynamic .launch-app-btn.m-nav-openapp,
#app .m-dynamic .dynamic-float-openapp.dynamic-float-btn {
	display: none !important;
}

/* 专栏 */
/* 右上角 下载App */
#app .m-opus .float-openapp.opus-float-btn,
#app .m-opus .float-openapp.opus-float-btn,
#app .m-opus .v-switcher .launch-app-btn.list-more,
#app .m-opus .opus-nav .launch-app-btn.m-nav-openapp {
	display: none !important;
}

/* 话题 */
/* 右上角 下载App */
#app .topic-detail .launch-app-btn.m-nav-openapp,
#app .topic-detail .launch-app-btn.m-topic-float-openapp {
	display: none !important;
}

/* 番剧 */
/* 右上角 下载App */
#app.main-container bili-open-app.btn-download {
	display: none !important;
}

/* read mobile */
/* 所有的bili-open-app元素 */
#app .read-app-main bili-open-app {
	display: none !important;
}
