.pops[type-value="alert"] .pops-alert-title:has(+ .pops-alert-content .netdisk-url-box-all:empty) {
  border-bottom: none;
}
.netdisk-url-box {
  border-bottom: 1px solid #e4e6eb;
}
.netdisk-url-div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
}
.netdisk-icon {
  display: contents;
}
.netdisk-icon .netdisk-icon-img {
  cursor: pointer;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  font-size: 0.8em;
  margin: 0px 10px;
}
.netdisk-url-div .netdisk-icon,
.netdisk-url-div .netdisk-status {
  flex: 0 0 auto;
}
.netdisk-url-div .netdisk-url {
  flex: 1;
}
.netdisk-icon .netdisk-icon-img {
  border-radius: 10px;
  box-shadow:
    0 0.3px 0.6px rgb(0 0 0 / 6%),
    0 0.7px 1.3px rgb(0 0 0 / 8%),
    0 1.3px 2.5px rgb(0 0 0 / 10%),
    0 2.2px 4.5px rgb(0 0 0 / 12%),
    0 4.2px 8.4px rgb(0 0 0 / 14%),
    0 10px 20px rgb(0 0 0 / 20%);
}
.netdisk-status[data-check-failed] {
  padding: 5px 5px;
}
.netdisk-url {
  padding: 5px 5px;
}
.netdisk-url a {
  color: #ff4848 !important;
  min-height: 28px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.8em;
  border: none;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0px;
  word-break: break-word;
  text-align: left;
}
.netdisk-status {
  display: none;
}
.netdisk-status[data-check-valid] {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
  color: #000000;
}

.netdisk-status[data-check-valid="failed"] {
  color: red;
}

.netdisk-status[data-check-valid="partial-violation"] {
  color: orange;
}

.netdisk-status[data-check-valid="error"] {
  cursor: pointer;
}

.netdisk-status[data-check-valid="success"] {
  color: green;
}

.netdisk-status[data-check-valid="verify"] {
  color: #faad14;
}

.netdisk-status[data-check-valid="loading"] svg {
  animation: rotating 2s linear infinite;
}

.netdisk-url-box:has(.netdisk-status[data-check-valid="failed"]) {
  text-decoration: line-through;
}

.whitesevPop-whitesevPopSetting :focus-visible {
  outline-offset: 0;
  outline: 0;
}
.netdisk-url a[isvisited="true"] {
  color: #8b8888 !important;
}
.netdisk-url a:active {
  box-shadow: 0 0 0 1px #616161 inset;
}
.netdisk-url a:focus-visible {
  outline: 0;
}
.whitesevPop-content p[pop] {
  text-indent: 0;
}
.whitesevPop-button[data-type="primary"] {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}
