#language-selector {
	display: none;
}
@media screen and (min-width: 600px) {
	body {
		--header-height: 50px;
		--el-gap: 20px;
	}
	header#main-header + div {
		margin-top: calc(var(--header-height) + 35px);
	}
	header#main-header {
		height: var(--header-height);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 55555;
		padding: unset;
		display: flex;
		justify-content: space-around;
		.width-constraint {
			display: flex;
			align-items: center;
			gap: var(--el-gap);
			padding: unset;
			margin: unset;
			max-width: unset;
		}
		a {
			text-decoration: none;
			text-wrap: nowrap;
		}
		.sign-out-link a {
			text-decoration: underline;
		}
		#site-name {
			display: flex;
			align-items: center;
		}

		#site-name img {
			width: calc(var(--header-height) - 5px);
			height: calc(var(--header-height) - 5px);
		}

		/* 隐藏Greasyfork文字 */
		#site-name-text {
			display: none;
		}

		#site-nav {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			flex: 1;
			justify-content: space-between;
			height: 100%;
			gap: var(--el-gap);

			nav li {
				padding: 0 0.5em;
				display: flex;
				align-items: center;
				height: var(--header-height);
				min-width: 30px;
				justify-content: center;
			}

			nav li:hover {
				background: #5f0101;
			}
		}

		#nav-user-info {
			max-width: 150px;

			> span {
				flex: 1;
			}
		}
		#nav-user-info,
		#nav-user-info + nav {
			position: unset;
			width: unset;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}
	}
}
